argmagic==2017.1
certifi==2019.6.16
cffi==1.12.3
cycler==0.10.0
decorator==4.4.0
h5py==2.9.0
imageio==2.5.0
insanity==2017.1
joblib==0.13.2
kiwisolver==1.1.0
matplotlib==3.1.0
mkl-fft==1.0.12
mkl-random==1.0.2
munch==2.3.2
networkx==2.3
numpy==1.16.4
olefile==0.46
Pillow==6.1.0
pretrainedmodels==0.7.4
pycparser==2.19
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1.1
reldata==2017.1
rrn==2018.1
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
sklearn==0.0
staticinit==2017.1
torch==1.1.0
torchvision==0.3.0
tornado==6.0.3
tqdm==4.32.2
